@model IEnumerable<ECommerce.MVC.Models.ProductModels.ProductModel>



<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Yeni Ürünler</h4>
                </div>
            </div>
        </div>
        <div class="row property__gallery">

            @foreach (var product in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@product.ImageUrl">
                            <ul class="product__hover">
                                <li><a href="@product.ImageUrl" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li>
                                    <form id="favoriteForm-@product.Id" action="@Url.Action("AddToFavorites", "UserFav")" method="post" onsubmit="checkLogin(event)">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="productId" value="@product.Id" />
                                        <button type="submit" class="heart-button1">
                                            ❤️
                                            
                                        </button>
                                    </form>
                                </li>

                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">@product.Name</a></h6>

                            <div class="product__price">@product.UnitPrice.ToString("C")</div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
