@* @model ECommerce.Models.ProductModel.ProductFilterComponentModel

<form asp-action="FilterProducts" method="post">
    <label>Fiyat Aralığı:</label>
    <input type="hidden" id="minPrice" name="MinPrice" value="@Model.MinPrice" />
    <input type="hidden" id="maxPrice" name="MaxPrice" value="@Model.MaxPrice" />

    <div id="price-range"></div>
    <p>
        <span id="price-range-text">@Model.MinPrice - @Model.MaxPrice TL</span>
    </p>

    <br />

    <label>Beden Seçin:</label>
    @foreach (var size in Model.AvailableSizes)
    {
        <label>
            <input type="checkbox" name="SelectedSizes" value="@size.Value" /> @size.Text
        </label>
    }

    <br />

    <label>Renk Seçin:</label>
    @foreach (var color in Model.AvailableColors)
    {
        <label>
            <input type="checkbox" name="SelectedColors" value="@color.Value" /> @color.Text
        </label>
    }

    <br />
    <button type="submit">Filtrele</button>
</form>

<script>
    $(function () {
        $("#price-range").slider({
            range: true,
            min: 0,
            max: 5000,
            values: [@Model.MinPrice, @Model.MaxPrice],
            slide: function (event, ui) {
                $("#minPrice").val(ui.values[0]);
                $("#maxPrice").val(ui.values[1]);
                $("#price-range-text").text(ui.values[0] + " - " + ui.values[1] + " TL");
            }
        });
    });
</script>


 *@